* {
    font-family: 'IndieFlower', impact;
    vertical-align: bottom;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
   outline: solid 1px #f00;
}

body{
    background-color: #000;
    color: #fff;
}

.clearfix{
    margin: 0;
    clear: both;
}
 

/*--導覽列開始--*/
.nav-group {
	position: fixed;
    width: 100%;
    height: 50px;
    /* border: 1px solid rgba(255,255,255,.2); */
    z-index: 10;
}

.nav-group a{

}

.nav-group img{
    float: left;
    width: 60px;
    height: 50px;
}

.nav-group ul 
    position: absolute;
    left: 40%;
}

.nav-group ul {

}

.nav-group ul li{
    display: inline-block;
    text-decoration: none;
}

.nav-group ul li p{
    color:#fff;
    margin:10px 15px 0 15px;
    padding:5px;
}

.nav-group  ul li :hover p{
    color:blue;
}

.carousel-inner{
    background:url(img/bannerbg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
}


@media screen and (min-width:768px){
    .nav-group {
        position: fixed;
        width: 100%;
        height: 50px;
        /* border: 1px solid rgba(255,255,255,.2); */
        z-index: 10;
    }
    
    .nav-group a{
    
    }
    
    .nav-group img{
        float: left;
        width: 60px;
        height: 50px;
    }
    
    .nav-group ul {
        position: absolute;
        left: 40%;
    }
    
    .nav-group ul {
    
    }
    
    .nav-group ul li{
        display: inline-block;
        text-decoration: none;
    }
    
    .nav-group ul li p{
        color:#fff;
        margin:10px 15px 0 15px;
        padding:5px;
    }
    
    .nav-group  ul li :hover p{
        color:blue;
    }
    
    .carousel-inner{
        background:url(img/bannerbg.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        max-width: 100%;
        height: 100vh;
    }
    

}

/*--導覽列結束--*/